@CHARSET "UTF-8";

html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #f4f4f4;
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    padding-bottom: 120px;
}

.select-categorias .nivel-1 {
    font-weight: bold;
    margin-left: -3px;
}

.img-transparent {
    background: url(../img/bg-png.gif);
}

/* header */
.header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.header .header-info {
    height: 60px;
}

.header .header-info .partner-logo {
    float: left;
    height: 100%;
}

.header .header-info .partner-logo img {
    width: auto;
    height: 100%;
}

.header .header-info .divider {
    background-color: #eee;
    float: left;
    height: 100%;
    margin: 0 15px;
    width: 1px;
}

.header .header-info .site-name {
    float: left;
}

.header .header-info .site-name h3 {
    color: #666;
    display: inline-block;
    font-style: italic;
    margin: 0;
    line-height: 60px;
}

.header .header-info .site-name h3 a {
    color: #666;
}

.navbar-top {
    background-color: #333;
    border: none;
    margin: 0;
    min-height: 0;
}

.navbar-top .navbar-text {
    color: #fff;
    margin: 7px 0;
}

.navbar-top .nav {
}

.navbar-top .nav > li {
}

.navbar-top .nav > li > a {
    background: none !important;
    color: #fff;
    padding: 7px 15px;
}

.navbar-top .nav > li > a span {
    color: #666;
}

.navbar-top .nav .caret {
    border-top-color: #000 !important;
    border-bottom-color: #000 !important;
}

.navbar-st {
    background-color: #fefefe;
    border: none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #ddd;
    margin: 0;
    /* min-height: 0; */
    z-index: 50;
}

.navbar-st .nav {
}

.navbar-st .nav > li {
}

.navbar-st .nav > li > a {
    color: #666;
    padding-left: 8px;
    padding-right: 8px;
}

.navbar-st .nav > li > a:hover,
.navbar-st .nav > li.active > a {
    color: #333;
    background-color: #fff;
}

.navbar-st .nav > li > a > .caret {
    border-top-color: #666 !important;
}

.navbar-st .nav > li.dropdown > ul.dropdown-menu li a:hover,
.navbar-st .nav > li.dropdown > ul.dropdown-menu li.active a {
    color: #fff;
    background-color: #bbb;
}

.form-horizontal {
    margin-bottom: 20px;
}

.form-horizontal .description {
    padding: 10px 15px;
}

.form-horizontal .btn-save-container {
    position: relative;
    height: 45px;
    width: 100%;
}

.form-horizontal .btn-save-container .btn-save {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    bottom: 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    margin: 0 25px -5px 10px;
    padding: 10px 10px 15px;
    position: fixed;
    right: 10px;
}

.form-horizontal .btn-save-container .btn-back {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    bottom: 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    margin: 0 10px -5px;
    padding: 10px 10px 15px;
    position: fixed;
    left: 10px;
}

.form-horizontal .btn-save-container .btn-save-static {
    background-color: transparent;
    border: none;
    bottom: 0 !important;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative !important;
    right: 0 !important;
    left: 0 !important;
}

/* menu fixo */
.navbar-fixed-top {
    display: none;
}

.content .navbar-fixed-top h2 {
    float: left;
    margin: 0px 10px 0px 0px;
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    line-height: 40px;
}

.content .navbar-fixed-top h2 small {
    font-size: 60%;
    line-height: 0px;
    color: #e4e4e4;
    vertical-align: 3px;
}

.navbar-inverse .navbar-inner {
    background: #2d2d2d;
}

.navbar-inverse a {
    color: #fff !important;
}

.navbar-inverse ul {
    margin-left: 20px !important;
}

.navbar-inverse a:hover {
    background: #000;
}

.navbar-inverse .dropdown-menu a {
    color: #333 !important;
}

.navbar-inverse .dropdown-menu a:hover {
    color: #fff !important;
}

.navbar-header {
    padding: 10px 15px;
}

/* menu esquerda */
.sidebar {
}

.sidebar .active {
    background: #f5f5f5;
}

/* formulário de pesquisa/busca */
.fast-search .btn {
    border-radius: 0 !important;
    border: 1px solid #ccc;
    border-left: none;
    margin-left: -1px !important;
    background: none;
}

/* conteúdo */
.content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.content .breadcrumb {
    background: #fff;
    border: 1px #e5e5e5 solid;
}

.content ol.breadcrumb > li {
}

.content ol.breadcrumb > li > a {
    color: #000;
}

.content ol.breadcrumb > li.active,
.content ol.breadcrumb > li.active > a {
    color: #333;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}

.content ol.breadcrumb > li:before {
    font-weight: normal;
}

.content ol.breadcrumb > li:first-child {
    color: #999;
}

.content ol.breadcrumb > li:first-child + li:before {
    content: "";
}

.content .panel {
}

.content .panel .panel-heading {
    padding: 0 15px;
}

.content .panel .panel-heading .check_box_all {
    border-right: 1px solid #ddd;
    display: table-cell;
    margin: 3px 15px 3px -15px;
    padding: 5px 8px;
    text-align: center;
    width: 50px;
}

.content .panel .panel-heading .drag-space {
    border-right: 1px solid #ddd;
    display: table-cell;
    margin: 3px 15px 3px -15px;
    padding: 5px 8px;
    width: 45px;
}

.content .panel .panel-heading .panel-title {
    float: left;
    font-weight: bold;
    line-height: 30px;
    padding: 5px 0;
}

.content .panel .panel-heading .panel-subtitle {
    color: #333;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
    padding: 5px 0;
}

.content .panel .panel-heading .panel-subtitle:before {
    color: #999;
    font-weight: bold;
    padding: 0 5px;
}

.content .panel .panel-heading .btns {
    float: right;
    padding: 7px 0;
}

.content .panel .panel-heading .btns .btn {
    padding: 2px 10px;
}

.content .panel .panel-heading:after {
    clear: both;
    content: "";
    display: table;
}

.content .panel .panel-subheading {
    border-top: 1px solid #dddddd;
}

.content .panel .panel-subheading .panel-title {
    font-weight: normal;
    font-size: 14px;
}

.content .panel .panel-body {
    padding: 0;
}

.content .panel .panel-body .alert {
    margin: 15px;
}

.content .panel .panel-body .form-group {
    margin: 15px 0;
}

.content .panel .panel-body .form-group label {
    font-weight: normal;
}

.content .panel .panel-body .form-group .control-label {
    font-weight: bold;
}

.content .panel .panel-body .form-group .help-block {
    font-size: 85%;
}

.content .panel .panel-body > table.table {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    list-style: none;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: 100%;
}

.content .panel .panel-body > .table tr {
    display: table-row;
    vertical-align: middle;
    width: 100%;
}

.content .panel .panel-body > .table tr td {
    display: table-cell;
    border-top: 1px solid #dddddd;
    line-height: 1.428571429;
    padding: 8px;
    vertical-align: middle;
}


.content .panel .panel-body > .table tr:last-child td {
    border-bottom: 2px solid #ddd;
}

.content .panel .panel-body > .table tr.linked-row td {
    cursor: pointer;
}

.content .panel .panel-body > .table tr.linked-row:hover td {
    background-color: #efefef;
}

.content .panel .panel-body > .table tr.linked-row td.not-linked {
    cursor: default;
}

.content .panel .panel-body > .table tr td.check_box {
    text-align: center;
    width: 50px;
}

.content .panel .panel-body > .table tr td.imagem {
    width: 70px;
    text-align: center;
}

.content .panel .panel-body > .table tr td.imagem a {
    width: 70px;
    height: 60px;
}

.content .panel .panel-body > .table tr td.imagem img {
    max-width: 100%;
    max-height: 70px;
}

.content .panel .panel-body > .table tr td .titulo {
    color: #333;
}

.content .panel .panel-body > .table tr td .titulo small {
    color: #999;
}

.content .panel .panel-body > .table tr td.status {
    width: 85px;
}

.content .panel .panel-body > .table > li ul.table {
    display: block;
}

.content .panel .panel-body ul.table,
.content .panel .panel-body ol.table {
    display: block;
    list-style: none;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: 100%;
}

.content .panel .panel-body .table > li {
    background-color: #fff;
    border-top: 1px solid #dddddd;
    display: block;
    vertical-align: middle;
    width: 100%;
}

.content .panel .panel-body .table > li:after {
    content: "";
    display: table;
    clear: both;
}

.content .panel .panel-body .table > li:last-child {
    border-bottom: 2px solid #ddd;
}

.content .panel .panel-body .table > li > span {
    color: #333;
    display: inline-block;
    line-height: 1.428571429;
    padding: 8px;
    vertical-align: middle;
}

.content .panel .panel-body .table > li > span small {
    color: #999;
}

.content .panel .panel-body .table > li > span.drag {
    background: url(../img/move.png) center center no-repeat;
    background-color: #efefef !important;
    border-radius: 4px;
    cursor: move !important;
    margin: 5px 8px;
    padding: 0;
    text-align: center;
    width: 24px;
    height: 40px;
}

.content .panel .panel-body .table > li > span.drag:hover {
    background-color: #ddd !important;
}

.content .panel .panel-body .table > li > span.check_box {
    text-align: center;
    width: 50px;
}

.content .panel .panel-body .table > li > span.radio_home {
    text-align: center;
    width: 50px;
}

.content .panel .panel-body .table > li > span.imagem {
    width: 70px;
    text-align: center;
}

.content .panel .panel-body .table > li > span.imagem a {
    width: 70px;
    height: 60px;
}

.content .panel .panel-body .table > li > span.imagem img {
    max-width: 100%;
    max-height: 70px;
}

.content .panel .panel-body .table > li > span.titulo {
    width: 70%;
}

.content .panel .panel-body .table > li > span.status {
    width: 85px;
    text-align: center;
}

.content .panel .panel-body .table > li.linked-row {
    cursor: pointer;
}

.content .panel .panel-body .table > li.linked-row:hover {
    background-color: #efefef;
}

.content .panel .panel-body .table > li.linked-row > span.not-linked {
    cursor: default;
}

.content .panel .panel-body .table .table {
    position: relative;
    padding-left: 48px;
}

.content .panel .panel-body .table .table:before {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/arrow-dr.png);
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    float: left;
    height: 32px;
    margin: 8px;
    width: 32px;
}

.content .panel .panel-body table thead.header th {
    background: #f5f5f5;
    vertical-align: middle;
    overflow-x: hidden;
}

.content .panel .panel-body table thead th.sorting-asc {
    background: #d5d5d5 url('../img/table-sort-asc.png') center right no-repeat;
}

.content .panel .panel-body table thead th.sorting-desc {
    background: #dddddd url('../img/table-sort-desc.png') center right no-repeat;
}

.content .panel .panel-body table thead th a {
    color: #333333;
}

/* table header fixed */
table .header-fixed {
    position: fixed;
    top: 0px;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
    border-bottom: 1px solid #d5d5d5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, .1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
}

table > .header-fixed > tr > th {
    background: #f5f5f5;
    vertical-align: middle;
}

.messages-box {
    padding: 15px 65px;
    background-color: #dfdfdf;
    background-image: url('../img/bg-messages-box.jpg');
    background-size: cover;
    background-position: center center;
}

.messages-box .message {
    display: block;
    margin-bottom: 9px;
}

.messages-box .message:after {
    display: table;
    content: "";
    clear: both;
}

.messages-box .message .message-container {
    position: relative;
    float: left;
    min-width: 320px;
    max-width: 100%;
    padding: 5px 10px 15px;
    padding-right: 75px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.messages-box .message .message-container:before {
    content: '';
    position: absolute;
    left: -11px;
    bottom: 3px;
    width: 12px;
    height: 19px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/message-arrow-left.png');
}

.messages-box .message .message-container .message-title {
    margin-bottom: 1px;
}

.messages-box .message .message-container .message-title .message-sender {
    font-family: 'Open Sans', sans-serif;
    font-size: 12.5px;
    line-height: 20px;
    height: 20px;
    font-weight: 600;
    margin-bottom: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.messages-box .message .message-container .message-title .message-sender > span {
    color: #777;
    font-weight: normal;
}

.messages-box .message .message-container .message-title .message-sender > span:before {
    content: "- ";
}

.messages-box .message .message-container .message-title .message-date {
    position: absolute;
    bottom: 3px;
    right: 7px;
    font-size: 11px;
    color: rgba(0, 0, 0, .45);
    line-height: 15px;
    height: 15px;
}

.messages-box .message .message-container .message-content {
    font-size: 13.6px;
    line-height: 19px;
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
    color: #262626;
    position: relative;
    overflow: hidden;
}

.messages-box .message.right .message-container {
    float: right;
    background-color: #dcf8c6;
}

.messages-box .message.right .message-container:before {
    left: auto;
    right: -11px;
    background-image: url('../img/message-arrow-right.png');
}

.message-form {
    padding: 15px 65px;
    background-color: #eceae8;
}

.message-form:after {
    display: table;
    content: "";
    clear: both;
}

.message-form .form-control {
    float: left;
    width: 90%;
    border: none;
    outline: none;
    box-shadow: none;
}

.message-form .form-control:focus {
    outline: none;
    box-shadow: none;
}

.message-form .btn-submit {
    float: left;
    width: 10%;
    height: 34px;
    color: #8D8C8B;
    font-size: 24px;
    line-height: 34px;
    border: none;
    background: none;
}

.login {
    background: url(../img/bg-login-0.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login.bg-0 {
    background-image: url(../img/bg-login-0.jpg);
}

.login.bg-1 {
    background-image: url(../img/bg-login-1.jpg);
}

.login .page-header {
    border-color: #ddd;
    padding: 0;
}

.content .item-view {
}

.content .item-view .fieldname {
    display: block;
    padding: 5px 10px;
    margin: 0px 0px 10px;
    text-align: right;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: #F0F0F0;
}

.content .item-view .fieldvalue {
    display: inline-block;
    margin: 0px;
    line-height: 30px;
}

.form-horizontal fieldset {
    padding-bottom: 20px;
}

.form-horizontal fieldset .form-group {
    background: #FBFBFB;
    margin: 0;
    padding: 8px 0 8px 0;
}

.form-horizontal fieldset .form-group .control-label {
    border-right: 1px solid #EEE;
}

@media screen and (min-width: 992px) {
    .modal-dialog {
        width: 940px;
    }
}

@media screen and (min-width: 1200px) {
    .modal-dialog {
        width: 1140px;
    }
}

.footer {
    background-color: white;
    border-top: 1px solid #ddd;
    bottom: 0;
    color: #666;
    height: 100px;
    padding: 20px 0 15px;
    position: absolute;
    width: 100%;
}

.feedback {
    position: fixed;
    top: 40%;
    right: -10px;
}

.feedback .btn-feedback {
    float: left;
    padding-right: 22px;
    width: 50px;
    height: 132px;
    background-image: url(../img/btn-feedback.png);
    background-position: left center;
    background-repeat: no-repeat;
}

.feedback .form-feedback {
    display: none;
    float: left;
    margin-left: -10px;
    padding: 5px 25px 15px 15px;
    width: 270px;
    background: #428bca;
    border-radius: 4px;
    border: 1px solid #357ebd;
}

.feedback .form-feedback h4 {
    color: #fff;
}

/* BOX DE MENSAGENS */

.alert {
    padding: 13px 15px 13px 45px;
}

.alert-success {
    color: #609629;
    background: #F9FCEB url('../img/icon-success.gif') 10px 10px no-repeat;
}

.alert-danger, .alert-error {
    color: #C10924;
    background: #FFF9F9 url('../img/icon-error.gif') 10px 10px no-repeat;
}

.alert-info {
    color: #135DA2;
    background: #F9FDFF url('../img/icon-info.gif') 10px 10px no-repeat;
}

/* FIM BOX DE MENSAGENS */

/* UPLOAD RÁPIDO */
#uploaded_files {
    margin: 20px 0 0 2px;
}

#uploaded_files input {
    border: 0;
    width: 95%;
    padding: 7px 5px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropup .dropdown-submenu > .dropdown-menu {
    top: auto;
    bottom: 0;
    margin-top: 0;
    margin-bottom: -2px;
    -webkit-border-radius: 5px 5px 5px 0;
    -moz-border-radius: 5px 5px 5px 0;
    border-radius: 5px 5px 5px 0;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.pagination {
    margin: 0px;
}

.pagination > li > a,
.pagination > li > a:hover {
    color: #666;
}

.pagination > .active > a,
.pagination > .active > a:hover {
    background-color: #bbb;
    border-color: #bbb;
}

.nav-tabs {
}

.nav-tabs > li > a {
    background: #fff;
    border: 1px solid #dddddd;
}

.nav-tabs > li.active > a {
    background: #f5f5f5;
}

.well {
    background: #fff;
    border-color: #dddddd;
}

/* ace editor */
.ace-editor {
    height: 500px;
}

.fancybox-inner .header,
.fancybox-inner .navbar,
.fancybox-inner .footer {
    display: none;
}

.input-group-select .form-control{
    width:50%;
}

.form-control-show {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
}

.btn-excel {
    color: #ffffff;
    background-color: #1f7244;
    border-color: #154d2e;
}
.btn-excel:hover,
.btn-excel:active {
    color: #ffffff;
    background-color: #154d2e;
    border-color: #1f7244;
}
