.footer {
	padding: 30px 30px 15px 30px;
	list-style: none;
	background-image: url("../img/footer__background.png");
	background-size: cover;

	width: 100%;
	padding-right: 1em;
}

.lista-footer {
	margin-top: 30px;
	padding-left: 0;
	list-style-type: none;
}

.li-footer {
	font-size: 17px;
	font-weight: 400;
	margin-top: auto;
	@media (min-width: 768px) {
		display: block;
		padding: 0;
	}
	&:hover {
		border-bottom: 0px solid white;
	}
}

.footer-contato {
	color: white;
	font-size: 18px;
	font-weight: 400;
	.icones {
		color: white;
		padding: 14px;
		display: inline-block;
	}
}

.footer-barra {
	padding: 10px 0;
	background: #2ec5fc;
	text-align: center;
	color: #1a355e;
	font-size: 14px;
}

.icones-redes {
	@media (min-width: 992px) {
		margin-top: 6rem;
	}
	@media (min-width: 1200px) {
		margin-top: 9rem;
	}
	&-footer {
		font-size: 22px;
		margin-right: 3rem;
		@media (min-width: 1200px) {
			font-size: 28px;
		}
		color: white;
		&:hover {
			color: #2ec5fc;
		}
	}
}

.contato-titulo{
    font-weight: 900;
}
