$cor-principal-header: #1a355e;
$cor-secundaria-header: #0094ca;
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.logo-header {
	display: block;
	margin-top: 1em;
	@media (min-width: 992px) {
		float: center;
		vertical-align: super;
	}
	@media (min-width: 1200px) {
		padding-bottom: 1em;
	}
}

@media (max-width: 1200px) {
	.navbar-header {
		float: none;
		padding-bottom: 0.5em;
	}
	.navbar-left,
	.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
		margin-top: 40px;
		margin-right: 40px;
	}
	.navbar-collapse {
		border-top: 2px solid transparent;
		box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none !important;
	}
	.navbar-nav {
		float: none !important;
		margin-top: 7.5px;
	}
	.navbar-nav > li {
		float: none;
	}
	.navbar-nav > li > a {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.collapse.in {
		display: block !important;
	}
}

.navigation {
	text-align: center;
	@media (min-width: 1200px) {
		padding-top: 3em;
	}
}

li {
	font-weight: bold;
	font-size: 16px;
	margin-top: 15px;
	list-style: none;
	&:hover {
		@media (min-width: 1200px){
		border-bottom: 6px solid $cor-principal-header;
		}

	}
	a {
		color: $cor-principal-header;
		&:hover {
			color: $cor-secundaria-header;
			text-decoration: none;
		}
	}
	@media (min-width: 768px) {
		display: inline-block;
		margin-top: 5px;
		padding: 1.5em;
		margin-top: 0.5em;
		header::after {
			content: "";
			display: table;
			clear: both;
		}
	}
	@media (min-width: 992px) {
		display: inline-block;
		margin-top: 5px;
		padding: 1.5em;
		margin-top: 0.5em;
		header::after {
			content: "";
			display: table;
			clear: both;
		}
	}
	@media (min-width: 1200px) {
		padding: 1em;
		padding-bottom: 1.5em;
		float: center;
		header::after {
			content: "";
			display: table;
			clear: both;
		}
	}
}

.ideias {
	background-color: $cor-principal-header;
	&-destaque {
		@media (min-width: 1200px) {
			height: 136px;
			margin-top: -45px;
			padding-top: 67px;
			position: absolute;
			margin-left: 1.5em;
			content: "";
		}
	}
}

.ideias-texto {
	color: white;
	&:hover {
		color: $cor-secundaria-header;
	}
}

.layer1 {
	background-image: url("../img/header__background.png");
	//background-blend-mode: screen;
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
	padding-bottom: 5em;
	margin-bottom: 2.5em;
	margin-top: 4em;

	@media (min-width: 768px) {
		height: 22em;
	}
	@media (min-width: 1024px) {
		height: 26em;
	}
	@media (min-width: 1200px) {
		height: 50em;
	}
}

.texto-banner {
	vertical-align: middle;
	text-align: center;
	padding-top: 7.5em;
	color: white;
	font-family: "Raleway", sans-serif;
	font-weight: 100;
	font-size: 16px;
	@media (min-width: 768px) {
		padding-top: 5.5em;
		font-size: 26px;
	}
	@media (min-width: 1024px) {
		padding-top: 5.5em;
		font-size: 31px;
	}
	@media (min-width: 1200px) {
		padding-top: 4em;
		font-size: 59px;
	}
}
.glyphicon glyphicon-menu-hamburger {
	color: $cor-principal-header;
}
