* {
	font-family: "Raleway", sans-serif;
}

.layer2 {
	background-image: url("../img/espacoideias.png"),
		url("../img/ideiasbanner.png");
	background-blend-mode: screen;
	background-size: cover;
	height: auto;
	width: auto;
	padding-bottom: 5em;
	margin-bottom: 2.5em;
	margin-top: 3.5em;
	@media (min-width: 768px) {
		height: 21em;
	}
	@media (min-width: 1024px) {
		height: 26em;
	}
	@media (min-width: 1200px) {
		height: 50em;
	}
}

.texto-contato {
	text-align: center;
	text-transform: none;
	color: #282828;
	font-size: 18px;
	font-weight: 400;
	&-destaque{
		color: #1a355e;
	font-size: 24px;
	font-weight: 500;
	text-transform: none;
	padding: 15px 0;
	}
}



.destaque-ideias {
	color: #0094ca;
	font-size: 24px;
	font-weight: 700;
	text-transform: none;
}

.tituloform-contato {
	text-align: left;
	color: #565656;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	margin-left: 2px;
}

.campo-contato {
	width: 100%;
	height: 45px;
	padding-left: 10px;
	background: 0 0;
	border: 1px #a8a8a8 solid;
	margin-bottom: 15px;
	color: #000;
	font-size: 17px;
	border-radius: 2px;
	font-family: Raleway;
	font-weight: 700;
}

.btn-texto {
	font-size: 23px;
	font-weight: 600;
}

.btn-enviar {

	background-color: #2ec5fc;
	color: #fff;
	border-radius: 2px;
	padding: 5px 30px;
	float: right;
	text-transform: uppercase;
	font-size: 20px;
	border: 0;
	margin-bottom: 2em;
}

.text-area {
	height: 120px;
	border-radius: 2px;
}
