.mm-slideout{
	z-index: auto;
}

.mm-menu{
	.mm-navbar{
		background: color(verde, base);

		.mm-navbar__title{
			color: white;
			font-weight: bold;
		}

		.mm-btn{
			&:before{
				border-color: white;
			}
		}
	}

	.mm-panels{
		.mm-listitem{
            border-color: darken(#eee, $amount: 3%);

            &:after{
                left: 0;
            }

			a{
                color: color(cinza, base);
			}

			.mm-btn_next{
                width: 100%;

				&:after{
					border-color: color(cinza, base);
				}
			}
        }
    }
}
