$cor-principal: #1a355e;
$cor-secundaria: #0094ca;
$cor-3: #101c2e;
$cor-4: #225eb9;
$cor-circulo: #0093c9;
//SOBRE NOS
.sobre-nos {

	font-weight: 400;
	text-align: center;
	font-size: 21px;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	margin-top: -2em;
	background: url(../img/quem-somos__background.png);
	background-size: cover;
}

.titulo-sn {
	color: $cor-principal;
	font-weight: 900;
	@media (min-width: 1200px) {
		font-size: 36px;
	}
}

.destaque-corpo {
	color: $cor-principal;
	font-size: 29px;
	font-weight: 300;
}

.destaque-sn {
	color: #0094ca;
	font-weight: 700;
	font-size: 29px;
}

.destaque-cinza{
	color: #282828;
}
.titulo-principal {
	margin-top: 2.5em;
	font-weight: 900;

	@media (min-width: 1200px) {
		font-size: 36px;
	}
}

.titulo-cm {
	margin-top: 2.5em;
	font-weight: 600;
}
//COMO TRABALHAMOS
.como-trabalhamos {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 17px;
	color: white;
	background-image: linear-gradient(to right, $cor-4, $cor-3);
	background-image: linear-gradient(to right, $cor-4, $cor-3),
		url("../img/estrelas-como_trabalhamos.png");
	background-blend-mode: screen;
	background-size: cover;
	background-position: center;
	@media (min-width: 768px) {
		font-size: 19px;
	}
	@media (min-width: 992px) {
		font-size: 19px;
	}
}

.estrelas-cm {
	background-blend-mode: screen;
}

.column {
	float: center;
	width: 100%;
	@media (min-width: 1200px) {
		width: 25%;
		float: left;
	}
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.img-foguete {
	padding-bottom: 2em;
	@media (min-width: 1200px) {
		display: none;
	}
}

.img-cmt-salacontrole {
	padding-top: 4em;
	padding-bottom: 2em;
	width: auto;
	height: auto;
	@media (min-width: 1200px) {
		width: 50px;
		padding-bottom: 3.2em;
	}
}

.circle {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	background: $cor-circulo;
	border-radius: 100%;
	height: 20px;
	width: 20px;

	&-primeiro {
		margin-top: 4.3em;
		margin-bottom: 2.5em;
		@media (min-width: 768px) {
			height: 30px;
			width: 30px;
			margin-top: 5.2em;
			margin-bottom: 2.5em;
		}
		@media (min-width: 1200px) {
			height: 50px;
			width: 50px;
			margin-top: 4.5em;
			margin-bottom: 3.4em;
		}
	}
	&-segundo {
		margin-top: 4em;
		margin-bottom: 2em;
		@media (min-width: 768px) {
			height: 30px;
			width: 30px;
			margin-top: 4em;
			margin-bottom: 2.5em;
		}
		@media (min-width: 1200px) {
			height: 50px;
			width: 50px;
			margin-top: 3.8em;
			margin-bottom: 4.2em;
		}
	}
}

.decolagem {
	padding-top: 5em;
	padding-bottom: 2.5em;
	@media (min-width: 768px) {
		padding-top: 4.7em;
		padding-bottom: 2.5em;
	}
	@media (min-width: 1200px) {
		margin-top: 4.5em;
	}
}

.foguete-trabalhamos {
	position: relative;
	bottom: 15em;
	left: 6em;
	width: 300%;
	height: 300%;
	z-index: 1;
	display: none;
	@media (min-width: 1200px) {
		display: inline;
		bottom: 14.3em;
		left: 10em;
	}
}
//EMPRESAS
.section-empresas {
	padding-top: 1.5em;
	background-image: url("../img/nossas-empresas__background.png");
	background-size: cover;
}
.nossas-empresas {
	font-family: "Raleway", sans-serif;
	margin-bottom: 1em;
}

.empresas {
	&-titulo {
		color: $cor-principal;
		font-weight: 900;
		font-size: 37px;
		text-align: center;
		padding-bottom: 1em;
	}

	&-corpo {
		font-weight: 200;
		text-align: center;
		font-size: 18px;
		@media (min-width: 1024px) {
			font-size: 23px;
		}
	}
}

.flex-container {
	@media (min-width: 1024px) {
		margin-left: 6em;
		margin-right: 3em;
	}
}

.carousel:after {
	content: "flickity";
	display: none;
}

@media (min-width: 1024px) {
	.carousel:after {
		content: "";
	}
}

.imagem {
	align-self: center;
	float: left;
	width: 35%;
	margin-right: 1em;
	margin-bottom: 1em;
	margin-top: 1em;
	@media (min-width: 768px) {
		display: block;
		width: 150px;
		height: 150px;

		align-self: center;
	}
	@media (min-width: 992px) {
		width: 200px;
		height: 200px;
		margin-left: 6.5em;
	}
	@media (min-width: 1200px) {
		width: 200px;
		height: 200px;
		margin-left: 5.5em;
	}
}

//EQUIPE
.equipe {
	font-family: "Raleway", sans-serif;
	background-image: linear-gradient(#00d4a0, #009775);
	text-align: center;
	color: white;
	font-size: 26px;
	padding-top: 1.5em;

	&-titulo {
		font-weight: 900;
		margin-top: 1em;
		@media (min-width: 1200px) {
			font-size: 37px;
		}
	}
	&-corpo {
		font-weight: 200;
		@media (min-width: 768px) {
			text-align: left;
		}
		@media (min-width: 1200px) {
			font-size: 31px;
		}
	}
}

// MARQUE CONVERSA
.marque-conversa {
	background-image: linear-gradient(#600097, #9600d4);
	color: white;
	text-align: center;
	padding-top: 3em;
	padding-bottom: 3em;
	font-size: 19px;
	@media (min-width: 1200px) {
		font-size: 29px;
	}
}

.texto-mc1 {
	font-weight: 400;
}

.texto-mc2 {
	font-weight: 700;
}

.btnmarque {
	width: 70%;
	margin-bottom: 0.5em;
	font-weight: 700;
	font-size: 21px;
	@media (min-width: 1200px) {
		width: auto;
		font-size: 31px;
		margin-bottom: 0.5em;
	}

	&-ideia {
		background-color: #2ec5fc;
		border-bottom: 2px solid #208ab0;
		&:hover,:focus,:active {
			background-color: #208ab0;
			border-bottom: 2px solid #2ec5fc;
			color: WHITE;
		}
	}
	&-investir {
		background-color: $cor-principal;
		border-bottom: 2px solid #0d1f3a;
		&:hover,:focus {
			border-bottom: 2px solid $cor-principal;
			background-color: #0d1f3a;
			color: WHITE;
		}
	}
}
