<!-- File Button --> 
<div class="form-group">
   <label for="<%= id %>"><%= label %></label>
   <div class="clearfix"></div>
   <div class="fileinput fileinput-new" data-provides="fileinput">
		<div class="input-group">
			<div class="form-control uneditable-input span3" data-trigger="fileinput">
				<i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span>
			</div>
			<span class="input-group-addon btn btn-default btn-file">
				<span class="fileinput-new">Procurar arquivo</span>
				<span class="fileinput-exists">Alterar</span>
				<input type="file" id="<%= id %>" name="<%= id %>">
			</span>
			<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remover</a>
		</div>
	</div>
</div>

