<!-- Multiple Checkboxes -->
<div class="form-group">
  <label for="<%= id %>"><%= label %><% if(required){ %> *<% } %></label>
  <% _.each(checkboxes, function(checkbox, i){ %>
    <div class="checkbox">
       <label for="<%= id+'-'+i %>">
         <input type="checkbox" name="<%= id %>[]" id="<%= id+'-'+i %>" value="<%= checkbox %>"<% if(required){ %> required="required"<% } %>>
        <%= checkbox %>
       </label>
     </div>
    <% }); %>
</div>
