<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label for="<%= id %>"><%= label %><% if(required){ %> *<% } %></label>
  <div class="clearfix"></div>
  <% _.each(checkboxes, function(checkbox, i){ %>
       <label class="checkbox-inline" for="<%= id+'-'+i %>">
         <input type="checkbox" name="<%= id %>[]" id="<%= id+'-'+i %>" value="<%= checkbox %>"<% if(required){ %> required="required"<% } %>>
        <%= checkbox %>
       </label>
   <% }); %>
</div>
