<!-- Password input-->
<div class="form-group">
  <label for="<%= id %>"><%= label %><% if(required) {%> *<% } %></label>
  <input id="<%= id %>" name="<%= id %>" type="password" placeholder="<%= placeholder %>" class="form-control" <% if(required) {%> required <% } %> />
  <% if (helptext.length > 0) { %><p class="help-block"><%= helptext %></p><% } %>
</div>
