<!-- Appended checkbox -->
<div class="form-group">
  <label for="<%= id %>"><%= label %><% if(required) {%> *<% } %></label>

    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox"<% if (checked){ %> checked <% } %>>
      </span>
      <input id="<%= id %>" name="<%= id %>" class="form-control" placeholder="<%= placeholder %>" type="text"<% if(required) {%> required <% } %> />
    </div>
    <% if (helptext.length > 0) { %><p class="help-block"><%= helptext %></p><% } %>
</div>
