<!-- Select Basic -->
<div class="form-group">
  <label for="<%= id %>"><%= label %></label>
  <select id="<%= id %>" name="<%= id %>" class="form-control"><% _.each(options, function(option) { %>
      <option><%= option %></option><% }); %>
  </select>
</div>
