<!-- Text input-->
<div class="form-group">
  <label for="<%= id %>"><%= label %><% if(required) {%> *<% } %></label>
    <input id="<%= id %>" name="<%= id %>" type="text" placeholder="<%= placeholder %>" class="form-control" <% if(required) {%> required <% } %> <% if (mask.length > 0) { %> data-mask="<%= mask %>"  <% } %>/>
    <% if (helptext.length > 0) { %><p class="help-block"><%= helptext %></p><% } %>
</div>
