<!-- Textarea -->
<div class="form-group">
   <label for ="<%= id %>"><%= label %><% if(required) {%> *<% } %></label>
   <textarea id="<%= id %>" name="<%= id %>" class="form-control" placeholder="<%= placeholder %>" rows="5"></textarea>
   <% if (helptext.length > 0) { %><p class="help-block"><%= helptext %></p><% } %>
</div>