<div class="form-group" <% if (label == 'ID'){ %> style="display: none;" <% } %>>
	<label><%= label %></label>
	<input class="form-control field" data-type="<%= type %>" type="text" name="<%= name %>" id="<%= name %>" value ="<%= value %>"  />
</div>